{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Alta Genero{% endblock %}

{% block body %}{{ parent() }}
    <h3>Crear nueva categoría para Genero</h3>

    {{ include('genero/_form.html.twig') }}

    <a href="{{ path('genero_index') }}"class="btn btn-default btn-sm">
          <span class="glyphicon glyphicon-step-backward"></span>Volver</a>
{% endblock %}
