<form method="post" action="{{ path('franja_horaria_delete', {'id': franja_horarium.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ franja_horarium.id) }}">
    <button class="btn">Delete</button>
</form>
