{% extends 'base.html.twig' %}

{% block title %}New FranjaHoraria{% endblock %}

{% block body %}
    <h1>Create new FranjaHoraria</h1>

    {{ include('franja_horaria/_form.html.twig') }}

    <a href="{{ path('franja_horaria_index') }}">back to list</a>
{% endblock %}
