<form method="post" action="{{ path('entidad_recep_denuncia_delete', {'id': entidad_recep_denuncium.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ entidad_recep_denuncium.id) }}">
    <button class="btn">Delete</button>
</form>
