{% extends 'base.html.twig' %}

{% block title %}Edit EntidadRecepDenuncia{% endblock %}

{% block body %}
    <h1>Edit EntidadRecepDenuncia</h1>

    {{ include('entidad_recep_denuncia/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('entidad_recep_denuncia_index') }}">back to list</a>

    {{ include('entidad_recep_denuncia/_delete_form.html.twig') }}
{% endblock %}
