{% extends 'base.html.twig' %}

{% block title %}New EntidadRecepDenuncia{% endblock %}

{% block body %}
    <h1>Create new EntidadRecepDenuncia</h1>

    {{ include('entidad_recep_denuncia/_form.html.twig') }}

    <a href="{{ path('entidad_recep_denuncia_index') }}">back to list</a>
{% endblock %}
