{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Alta victima{% endblock %}

{% block body %}{{ parent() }}
    <h1>Dar de alta nueva victima</h1>

    {{ include('victima/_form.html.twig') }}

    <a href="{{ path('victima_index') }}">Volver a la lista</a>
{% endblock %}
