{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Alta victima{% endblock %}

{% block body %}{{ parent() }}
    <h2>Dar de alta nueva victima</h2>

    {{ include('victima/_form.html.twig') }}

    <a href="{{ path('victima_index') }}" class="btn btn-default btn-sm">
          <span class="glyphicon glyphicon-step-backward"></span>Volver</a>
{% endblock %}
