<form method="post" action="{{ path('fuerza_seg_pert_delete', {'id': fuerza_seg_pert.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ fuerza_seg_pert.id) }}">
    <button class="btn">Delete</button>
</form>
